	#my-custom-font{
		background-color: #FFFFFF !important;
		font-family: 'Quicksand', sans-serif !important;
	}

	.blue-zone{
		padding: 30px 40px;
		background-color: #3498DA !important;
		background-image: url("../assets/background.png") !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		color: white !important;
		text-align: center !important;
		align-items: center !important;
	}

	.title-blue{
		font-size: 1.2em;
		font-weight: bold !important;
		padding-bottom: 10px;
	}

	.titles-blue{
		padding-bottom: 10px;
	}

	.white-zone{
		padding: 3% 5% !important;
	}

	.title-white{
		padding-left: 5% !important;
		font-size: 1.8em !important;
		font-weight: bold !important;
	}

	.padding-title{
		padding-bottom: 20px;
	}

	.list-white{
		padding-left: 5% !important;
	}

	.item-white{
		margin-bottom: 10px !important;
	}

	.cleverads-image{
		right: 0;
		display: flex;
		flex-flow: row;
		width: 100%;
		height: 100%;
	}

	.main-image{
		right: 0;
		display: flex;
		flex-flow: row;
		width: 100%;
		height: 100%;
	}

	.header-images{
		max-height: 80px;
	}

	.green-button{
		margin: 35px;
		color: white !important;
		padding: 0.5em 1.8em !important;
		text-decoration: none !important;
		font-weight: 600 !important;
		font-size: 1em !important;
		background-color: #61CD72 !important;
		border: none !important;
		border-radius: 30px !important;
		background-position: center !important;
	}

	.partner-image{
		max-height: 35px;
		margin-left: 15px;
	}

	.blue-circle{
		color: #3498DA;
		height: 41px;
		width: 41px;
		background: #F3FBFD;
		border: 5px solid;
		border-color: #B2D9F2;
		border-radius: 40px;
	}

	.footer{
		font-size: 1em !important;
		font-weight: bold;
		display: flex !important; 
		word-wrap: break-word !important;
		text-align: center;
		background-color: white;
		width: 100%;
   	justify-content: center;
   	align-items: center;
	}

	.link{
		color: white;
		text-decoration: underline;
	}

	.link:hover {
  	color: white;
		font-weight: bold;
	}

	.link:visited {
		color: white;
	}
